<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >


<body>


<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to Cloudinary
        <span class="text-white"
        >
              </span>
    </h5>

</div>

<form th:action="@{/pictures/add}" th:method="post" enctype="multipart/form-data" >
    <div>
        <input type="text" name="title">
        <input type="file" name="picture">
        <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>